/* aside {
  padding-top: 1em;
}
 */
#sidebar {
  background-color: rgba(255, 255, 255, 0.349);
  height: 100%;
  padding-top: 1em;

  display: grid;
}

#project {
  background-color: var(--color-purple);
  height: 50%;
  width: 300px;
  padding: 0.5em;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 20% repeat(auto-fill, minmax(50px, 1fr));
}

.project-btn {
  grid-column: 1 / 3;
  grid-row: 1;

  color: var(--color-white-hsl);
  background-color: var(--color-purple);

  font-family: 'Comfortaa', cursive, sans-serif;
  font-size: 1.75rem;
  padding-left: 1em;

  border: none;
}

.add-btn {
  grid-column: 2 / 4;
  grid-row: 2;

  color: var(--color-grey);
  background-color: var(--color-purple);

  font-family: 'Comfortaa', cursive, sans-serif;
  font-size: 1rem;

  border: none;
}

.project-btn:hover, .add-btn:hover {
  cursor: pointer;
}