/* aside {
  padding-top: 1em;
}
 */
#sidebar {
  background-color: rgba(255, 255, 255, 0.349);
  height: 100%;
  width: 300px;
  padding: 1em;

  display: grid;
  grid-template-rows: max-content 3fr;
  gap: 1em;
}

#date, #project {
  border-radius: 10px;
  padding: 0.75em;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

#date {
  background-color: var(--color-purple-light);
  height: 100px;
  width: 75%;
}

/* Project */
#project {
  background-color: var(--color-purple);
  color: var(--color-white-hsl);
  height: 50%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 15% max-content;
}

#project > p:first-child {
  grid-column: 1 / 4;
  grid-row: 1;

  color: var(--color-white-hsl);
  background-color: transparent;

  font-family: 'Comfortaa', cursive, sans-serif;
  font-size: 1.75rem;
  padding-left: 1em;

  border: none;
}

#project-list {
  grid-row: 2;
  grid-column: 2 / 4;

  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.add-btn, .project-btn {
  color: var(--color-grey);
  background-color: transparent;
  height: 1.75em;

  font-family: 'Comfortaa', cursive, sans-serif;
  font-size: 1.1rem;
  text-align: start;
  border: none;
}

.project-btn {
  color: var(--color-white-hsl);
}

.add-btn:hover, .project-btn:hover {
  cursor: pointer;
}

/* floating form */
#name-form {
  position: absolute;
  top: 320px;
  left: 290px;

  background-color: var(--color-purple);
  height: max-content;
  width: 300px;
  padding: 1em;
  font-family: 'Comfortaa', cursive, sans-serif;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.close-form {
  color: var(--color-white-hsl);
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
}

#name-form form {
  color: var(--color-white-hsl);
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  width: 100%;
}

#name-form input {
  font-family: inherit;
  padding: 0.2em 0.3em;
  height: 2em;

  border: none;
  border-radius: 3px;
}

#name-form .submit {
  font-family: 'Comfortaa', cursive, sans-serif;
  font-size: 1.25rem;

  margin-top: 2em;
  padding: 0.25em 0.3em;
  width: max-content;
  align-self: center;

  border: 2px solid var(--color-purple-light);
  background-color: transparent;
  color: var(--color-white-hsl);
  border-radius: 5px;
}

#name-form button:hover {
  cursor: pointer;
}